.container{
    display: flex;
    flex-direction: column;
    width: 50vh;
}
body{
    background-color: aquamarine;
}
#bill-amount{
    background-color:red;
    border-radius: 1rem;
   
}
#cash-given{
    background-color: red;
    border-radius: 1rem;
  
}
#check-button{
    background-color: red;
    border-radius: 1rem;
}
.no-of-notes{
    border: solid 1px blue;
}
.change-returm{
    border: solid 1px blue;
}